body
{
    height:100%;
    position: center;
}
video
{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    max-width: 100%;
    opacity: 75%;
/*
    top: 14%;
    left: 1%;
    margin-top: -7%;
    margin-left: -0.5%;
    z-index: 1;
}
*/

div
{
    position:relative;
    text-align: center;
    display: flex;
    align-items: center;
/*    justify-content: center;*/
/*
    z-index: 2;
    margin: 0 auto;
    max-width: 800 px;
    margin-top: 1000 px;
    text-align:center;
*/
}
h1{
/*    margin-bottom: 25px;*/
    color: darkblue;
   font-size:44 px;
    
}
p
{
    color: darkgreen;
    background-color: darkred;

}