div
{
/*background-color: gray;*/
height: 700 px;
    margin: 0;
    padding: 0;
    
}
.blue
{
/*    background-color:lavender;*/
}

h1
{
 text-align: center;
     margin: 0;
    padding: 0;
    
}
p
{
    text-align: center;
}